@layer base{*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}}

body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}


/* header section */
nav{
    width: 100vw;
    margin-left: calc(50% - 50vw);;
}